.row{
    padding: 20px;
}
div{
    background-color: #10121A;
    color: #da8300;
    text-align: center;
    font-family: nani;
    justify-items: center;
    align-items: center;
}
#acercad{
    background-color: #10121A;
    color: #da8300;
    margin-top: 5%;
    
}

#nombre{
    font-weight: bolder;
    margin-top: 20%;
    
}
#imgperfil{
        width: 100%;
        border-radius: 0%;        
        left: 2%;
        top: 600px;
    }

#button{

    background-color: #10121A;
}

 
    