
<div class="row">
    <div class="container">
        <div class="logo"> 
            <img src="../../../assets/APLogo.png" id="logoap">
        </div>
        <div class="social">
            <div>
                <a href="https://github.com/Am4ru"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.linkedin.com/in/amaru-zegarra-6437111a5/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <button type="button" class="btn btn-outline-light"(click)="login()" *ngIf="!isLogged">LOGIN</button>
                <button type="button" class="btn btn-outline-light"(click)="onLogOut()" *ngIf="isLogged">LOGOUT</button>
            </div>
        </div>
    </div>
</div>




<!--<div class="social">
    <button class="w3-button">Hover Over Me!</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
        <a href="https://github.com/Am4ru"><img src="../../../assets/github.png" id="github"></a>
        <a href="https://www.linkedin.com/in/amaru-zegarra-6437111a5/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
        <button type="button" class="btn btn-outline-light"(click)="login()" *ngIf="!isLogged">LOGIN</button>
        <button type="button" class="btn btn-outline-light"(click)="onLogOut()" *ngIf="isLogged">LOGOUT</button>
    </div>
</div>-->
